body{
    background-color: rgb(60, 90, 166);
    margin: 0;
    padding: 0;
}

.navbar-main-nav .navbar-brand{
    font-size: 16pt;
}

.navbar-main-nav .navbar-navz{
    font-size: 14pt;
}

.search-bar-button{
    background-color: rgb(40, 40, 40);
    border-color: rgb(255, 193, 7);
    color: white;
}

.search-bar-button:hover{
    background-color: rgb(204, 0, 0);
    border-color: rgb(40, 40, 40);
    color: white;
}

.dropdown-toggle{
    background-color:rgb(42, 117, 187);
    border-color: rgb(255, 193, 7);
    color: white;
}

.dropdown-toggle:hover{
    background-color:rgb(204, 0, 0);
    border-color: rgb(255, 193, 7);
    color: white;
}

.see-more-button, .save-product, .add-to-cart{
    background-color: rgb(20, 20, 20);
    border-color: rgb(80, 80, 80);
    color: white;
}

.see-more-button:hover{
    background-color: rgb(255, 193, 7);
    border-color: rgb(20, 20, 20);
    color: rgb(20, 20, 20);
}

.save-product:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(20, 20, 20);
    color: white;
}

.add-to-cart:hover{
    background-color: rgb(42, 117, 187);
    border-color: rgb(20, 20, 20);
    color: white;
}

hr{
    border: 2px solid rgb(10,10,10);
}

.products-section-title{
    padding: 5px;
    color: white;
}

.products-section .row{
    padding: 5px;
}

.card{
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
}

.card-title{
    height: 25px;
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.card-text{
    display: -webkit-box;
    color: white;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.card-img-top{
    height: 200px;
    background-color: white;
    object-fit:contain;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.product-card .card-text{
    height: 75px;
    display: -webkit-box;
    color: white;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.page-navigation{
    padding: 10px;
}

.page-navigation .page-link{
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    color: white;
}

.page-navigation .page-link:hover{
    background-color: white;
    color: rgb(40, 40, 40);
}

.pokeStoreTitle{
    background-color: white;
}

.pokeStoreTitle h1{
    padding: 5px;
}

.pokedex-pagination{
    padding: 10px;
}

.pokedex-pagination .page-link{
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    color: white;
}

.pokedex-pagination .page-link:hover{
    background-color: white;
    color: rgb(40, 40, 40);
}

.page-item.active .page-link{
    background-color: rgb(255, 193, 7);
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

.footer{
    background-color: rgb(30, 30, 30);
    padding: 10px;
}

.footer p{
    color: rgb(230, 230, 230);
    font-size: 10pt;
}

.footer img{
    border: 1px solid rgb(255, 0, 0);
}

.footer a{
    color: rgb(230,230,230);
}

.footer a:hover{
    color: rgb(255, 0, 0);
}

.loginForm .checkbox{
    padding: 10px;
}

.loginForm .form-group h6{
    padding: 5px;
}

.loginForm button, .registerForm button{
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

.loginForm button:hover, .registerForm button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#modalUserRegister .form-group .row{
    padding: 5px;
}

#modalUserRegister .modal-footer button{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0); 
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

#modalUserRegister .modal-footer button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#shoppingCart{
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 20px;
}

#shoppingCart h1{
    text-align: center;
}

#shoppingCart img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}

#shoppingCart .cart-list, .order-summary{
    border: 1px solid rgb(255, 0, 0);
    padding: 10px;
}