/*-----------------MAIN STYLE SHEET-----------------*/

/*Body*/
body{
    background-color: rgb(220, 220, 220);
    margin: 0;
    padding: 0;
}

/*Navbar y botones*/
.navbar-main-nav{
    font-size: 14pt;
}

.navbar-elements > *{
    margin: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.page-title{
    text-align: center;
    font-size: 18pt;
    color: rgb(251, 148, 102);
}

.search-bar-button{
    background-color: rgb(28, 27, 26);
    border-color: rgb(251, 148, 102);
    color: white;
}

.page-title:hover{
    color: rgb(249, 76, 0);
    text-shadow: 0 0 1px black; 
}

.search-bar-button:hover{
    background-color: rgb(251, 148, 102);
    border-color: rgb(251, 148, 102);
    color: rgb(28, 27, 26);
}

.dropdown-toggle{
    background-color:rgb(251, 148, 102);
    border-color: rgb(28, 27, 26);
    font-weight: bold;
    color: rgb(28, 27, 26);
}

.dropdown-toggle:hover{
    background-color:rgb(28, 27, 26);
    border-color: rgb(249, 76, 0);
    color: white;
}

/*Separador*/
hr{
    border: 2px solid rgb(28, 27, 26);
}

/*Footer*/
.footer{
    background-color: rgb(40, 40, 40);
    padding: 10px;
}

.footer p{
    color: rgb(250, 250, 250);
    font-size: 10pt;
}

.footer img{
    box-shadow: 0 0 5px rgb(251, 148, 102);
}

.footer a{
    color: white;
}

.footer a:hover{
    color: rgb(251, 148, 102);
}

/*Modal y formularios*/
.loginForm .checkbox{
    padding: 10px;
}

.loginForm .form-group h6{
    padding: 5px;
}

.loginForm button, .registerForm button{
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

.loginForm button:hover, .registerForm button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#modalUserRegister .form-group .row{
    padding: 5px;
}

#modalUserRegister .modal-footer button{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0); 
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

#modalUserRegister .modal-footer button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}