/*-----------------MAIN STYLE SHEET-----------------*/

/*Body*/
body{
    background-color: rgb(220, 220, 220);
    margin: 0;
    padding: 0;
}

/*Navbar y botones*/
.navbar-main-nav{
    font-size: 14pt;
}

.navbar-elements > *{
    margin: 5px;
}

.page-title{
    text-align: center;
    color: white;
    font-size: 20pt;
}

.search-bar-button{
    background-color: rgb(40, 40, 40);
    border-color: rgb(255, 193, 7);
    color: white;
}

.search-bar-button:hover{
    background-color: rgb(204, 0, 0);
    border-color: rgb(40, 40, 40);
    color: white;
}

.dropdown-toggle{
    background-color:rgb(42, 117, 187);
    border-color: rgb(255, 193, 7);
    color: white;
}

.dropdown-toggle:hover{
    background-color:rgb(204, 0, 0);
    border-color: rgb(255, 193, 7);
    color: white;
}

/* Botones de productos */
.see-more-button, .save-product, .add-to-cart{
    background-color: rgb(20, 20, 20);
    border-color: rgb(80, 80, 80);
    color: white;
}

.see-more-button:hover{
    background-color: rgb(255, 193, 7);
    border-color: rgb(20, 20, 20);
    color: rgb(20, 20, 20);
}

.save-product:hover{
    background-color: rgb(255, 0, 0);
    border-color: rgb(20, 20, 20);
    color: white;
}

.add-to-cart:hover{
    background-color: rgb(42, 117, 187);
    border-color: rgb(20, 20, 20);
    color: white;
}

/*Separador*/
hr{
    border: 2px solid rgb(10,10,10);
}

/*Carrusel*/
#productsCarousel{
    background-color: rgb(40, 40, 40);
}

.carousel-inner{
    margin: 0;
    padding: 0;

}

.carousel-item{
    height: 400px;
    background-color: rgb(40, 40, 40);
}

.carousel-item img{
    height: 100%;
    object-fit: contain; 
}

.products-section{
    padding: 25px;
    padding-top: 5px;
}

/*Product section y cards*/
.products-section-title{
    padding: 10px;
    color: rgb(40, 40, 40);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products-section .products-section-grid{
    padding: 5px;
    margin: auto;
}

.card{
    border: 1px solid rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    max-width: 350px;
}

.card-title{
    height: 25px;
    color: white;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.card-text{
    height: 80px;
    width: 60%;
    display: -webkit-box;
    color: white;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    padding: 10px;
    margin: 0;
}

.card-product-price{
    width: 40%;
    padding: 5px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 14pt;
}

.card-img-top{
    height: 200px;
    background-color: white;
    object-fit: cover;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.card-buttons{
    padding-top: 10px;
}

/*Paginación*/
.page-navigation{
    padding: 10px;
}

.page-navigation .page-link{
    background-color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
    color: white;
}

.page-navigation .page-link:hover{
    background-color: white;
    color: rgb(40, 40, 40);
}

/*Footer*/
.footer{
    background-color: rgb(30, 30, 30);
    padding: 10px;
}

.footer p{
    color: rgb(230, 230, 230);
    font-size: 10pt;
}

.footer img{
    border: 1px solid rgb(42, 117, 187);
}

.footer a{
    color: rgb(230,230,230);
}

.footer a:hover{
    color: rgb(255, 0, 0);
}

/*Modal y formularios*/
.loginForm .checkbox{
    padding: 10px;
}

.loginForm .form-group h6{
    padding: 5px;
}

.loginForm button, .registerForm button{
    width: 100%;
    background-color: rgb(255, 0, 0);
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

.loginForm button:hover, .registerForm button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}

#modalUserRegister .form-group .row{
    padding: 5px;
}

#modalUserRegister .modal-footer button{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 0, 0); 
    border-color: rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}

#modalUserRegister .modal-footer button:hover{
    background-color: rgb(30, 30, 30);
    border-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
}