/*--------------SHOPPING CART STYLE SHEET--------------*/

/* Body */
body{
    background-color: rgb(60, 90, 166);
    margin: 0;
    padding: 0;
}

/*Navbar y botones*/
.navbar-main-nav{
    font-size: 14pt;
}

.navbar-elements > *{
    margin: 5px;
}

.page-title{
    text-align: center;
    color: white;
    font-size: 20pt;
}
.search-bar-button{
    background-color: rgb(40, 40, 40);
    border-color: rgb(255, 193, 7);
    color: white;
}

.search-bar-button:hover{
    background-color: rgb(204, 0, 0);
    border-color: rgb(40, 40, 40);
    color: white;
}

.dropdown-toggle{
    background-color:rgb(42, 117, 187);
    border-color: rgb(255, 193, 7);
    color: white;
}

.dropdown-toggle:hover{
    background-color:rgb(204, 0, 0);
    border-color: rgb(255, 193, 7);
    color: white;
}

/*Separador*/
hr{
    border: 2px solid rgb(10,10,10);
}

/*Shopping cart*/
#shoppingCartGrid{
    padding: 5px;
    text-align: center;
}

.shoppingCartTitle{
    background-color: white;
}

.shoppingCartTitle h1{
    padding: 5px;
    color: rgb(40, 40, 40);
}

.shoppingCartGrid{
    padding: 5px;
    background-color: whte;
}

.emptyCart{
    padding: 15px;
}

.emptyCart h2{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.back-to-catalogue-btn{
    margin-top: 20px;
    background-color: rgb(40, 40, 40);
    border-color: rgb(255, 193, 7);
    color: rgb(255, 193, 7);
}

.back-to-catalogue-btn:hover{
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
    color: rgb(40, 40, 40);
}

/*Shopping Cart*/
#shoppingCartGrid{
    background-color: rgb(40, 40, 40);
    padding: 15px;
    margin: 5px;
    color: white;
}

/*.shoppingCartItem{

}*/

.cart-item-banner{
    margin-bottom: 10px;
    padding: 5px;
}

.cart-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-top: 1px solid rgb(250, 250, 250);
    border-bottom: 1px solid rgb(250, 250, 250);
}

.cart-item-img img{
   width: 200px;
   height: 150px;
   object-fit: cover 
}

.cart-item-body{
    padding: 5px;
    border-top: 1px solid rgb(250, 250, 250);
    border-bottom: 1px solid rgb(250, 250, 250);
}

.cart-item-header{
    margin: 10px;
}

.cart-item-info{
    padding: 5px;
    margin: 0;
}

.cart-item-description{
    padding: 5px;
    margin: 0;
    border-right: 1px solid rgb(255, 193, 7);
}

.cart-item-subtotal{
    padding: 5px;
    margin: 0;
    border-left: 1px solid rgb(255, 193, 7);
}

table{
    padding: 5px;
    margin: 0;  
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

.cart-item-text{
    margin: 0;
    justify-content: center;
}

.subtotal-table-row-text{
    text-align: left;
    font-weight: bold;
}

.subtotal-table-row-value{
    text-align: right;
}

.btn{
    padding: auto;
    margin: 0;
}

.remove-from-cart{
    margin-top: 5px;
}

/*Footer*/
.footer{
    background-color: rgb(30, 30, 30);
    padding: 10px;
}

.footer p{
    color: rgb(230, 230, 230);
    font-size: 10pt;
}

.footer img{
    border: 1px solid rgb(42, 117, 187);
}

.footer a{
    color: rgb(230,230,230);
}

.footer a:hover{
    color: rgb(255, 0, 0);
}

/*
#shoppingCart{
    width: 100%;
    background-color: rgb(230,230,230);
    padding: 20px;
}

#shoppingCart h1{
    text-align: center;
}

#shoppingCart img{
    width: 200px;
    height: 150px;
    object-fit: cover;
    padding: 10px;
}

#shoppingCart .cart-list, .order-summary{
    border: 1px solid rgb(255, 0, 0);
    padding: 10px;
}*/